@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
.footerheading {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .footerheading {
    margin-bottom: 15px;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .footerheading {
    font-size: 25px;
  }
}

.footer {
  background: #1277BD;
  color: #fff;
}
.footer .footerTop {
  flex-wrap: wrap;
  padding: 80px 0;
}
@media (max-width: 991px) {
  .footer .footerTop {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .footer .footerTop {
    padding: 50px 25px;
  }
}
.footer .logoSection {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 70px;
  flex-direction: column;
}
.footer .logoSection p {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 500;
}
.footer .logoSection img {
  margin-bottom: 10px;
  max-width: 80%;
}
.footer .logoSection .skhlogoSection {
  max-width: 200px;
  margin-top: 25px;
}
@media (max-width: 991px) {
  .footer .logoSection {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .footer .logoSection {
    margin-bottom: 35px;
    justify-content: flex-start;
  }
  .footer .logoSection img {
    width: 200px;
  }
}
.footer .quickLinks ul {
  list-style: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 0;
  margin: 0;
}
.footer .quickLinks ul li {
  margin-bottom: 8px;
}
.footer .quickLinks ul li a {
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s;
  font-weight: 400;
  color: #fff;
}
.footer .quickLinks ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 1600px) {
  .footer .quickLinks ul li a {
    font-size: 18px;
  }
}
@media (max-width: 1199px) {
  .footer .quickLinks ul li a {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .footer .quickLinks ul li a {
    font-size: 16px;
  }
}
@media (max-width: 1199px) {
  .footer .quickLinks ul li {
    text-align: left;
  }
}
@media (max-width: 1199px) {
  .footer .quickLinks ul {
    margin-bottom: 50px;
  }
}
.footer .contactSection {
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 0px;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer .contactSection li {
  flex: 0 0 100%;
  max-width: 100%;
}
.footer .contactSection li:nth-child(2) {
  flex: 0 0 60%;
  max-width: 60%;
}
.footer .contactSection li h3 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
.footer .contactSection li .contactItem {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  padding-left: 40px;
  flex-direction: column;
  margin-bottom: 20px;
}
.footer .contactSection li .contactItem .emailblock {
  display: block;
}
.footer .contactSection li .contactItem p, .footer .contactSection li .contactItem a {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  text-align: left;
  margin: 0px;
}
.footer .contactSection li .contactItem .footericon {
  max-width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
  position: absolute;
  top: 2px;
  left: 0;
}
@media screen and (max-width: 1600px) {
  .footer .contactSection li .contactItem .footericon {
    height: 22px;
    max-width: 22px;
  }
}
@media screen and (max-width: 1400px) {
  .footer .contactSection li .contactItem .footericon {
    height: 20px;
    max-width: 20px;
  }
}
@media (max-width: 991px) {
  .footer .contactSection li .contactItem {
    margin-bottom: 12px;
  }
  .footer .contactSection li .contactItem .footericon {
    height: 20px;
  }
}
@media (max-width: 767px) {
  .footer .contactSection li .contactItem p, .footer .contactSection li .contactItem a {
    font-size: 16px;
  }
}
.footer .contactSection li .phone {
  font-weight: 600;
}
.footer .contactSection li .email {
  margin-top: 10px;
}
.footer .contactSection li .socialIcons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer .contactSection li .socialIcons a {
  color: #fff;
  margin-right: 18px;
  font-size: 18px;
  transition: 0.2s;
}
.footer .contactSection li .socialIcons a img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 22px;
  width: auto;
}
.footer .contactSection li .socialIcons a:hover {
  color: #0056b3;
}
@media (max-width: 1600px) {
  .footer .contactSection li .contactItem p, .footer .contactSection li .contactItem a {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 1199px) {
  .footer .contactSection {
    flex-direction: column;
  }
  .footer .contactSection li {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer .contactSection li .contactItem p, .footer .contactSection li .contactItem a {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .footer .contactSection {
    flex-direction: row;
  }
  .footer .contactSection li {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .footer .contactSection {
    flex-direction: column;
  }
  .footer .contactSection li {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer .contactSection li .contactItem {
    gap: 0;
  }
  .footer .contactSection li .contactItem p, .footer .contactSection li .contactItem a {
    font-size: 16px;
    margin-bottom: 0px;
  }
}

.footerBottom {
  background: #004C81;
  color: #ffffff;
  padding: 8px 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.footerBottom p {
  margin: 0px;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.footerBottom .designby {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
.footerBottom .designby a {
  padding-left: 2px;
  padding-top: 2px;
}
@media (max-width: 991px) {
  .footerBottom p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .footerBottom p {
    display: block;
    font-size: 14px;
    text-align: center;
  }
  .footerBottom .designby {
    justify-content: center;
  }
}

.activeQuickLink {
  color: #FFD200 !important;
  font-weight: 600 !important;
  text-decoration: underline;
}

.scrollTopBtn {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #00417A;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.scrollTopBtn:hover {
  background-color: #1277BD;
  transform: translateY(-3px);
}

@media (max-width: 767px) {
  .scrollTopBtn {
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
}/*# sourceMappingURL=footer.module.css.map */