@import '../variables.scss';
@import '../mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');


.pressList{
    display: flex;flex-wrap: wrap;
    padding: 0px;
    li{
        flex: 0 0 25%;max-width: 25%;
        padding: 0 15px;margin: 15px 0px;
        .pressBox{
            padding: 30px;background: #F5EFE7;
            border-radius: 20px;transition:all 0.5s ease-in-out;
            .title{
                display: flex;align-items: center;
                justify-content: space-between;padding-top: 20px;
                h2{font-weight: 500;font-size: 30px;line-height: 30px; margin-bottom: 0px;}
                p{
                    span{display: block;font-weight: 600;font-size: 16px;line-height: 16px;text-align: right;color: #666666;}
                    font-weight: 800;font-size: 30px;line-height: 30px;text-align: right;color: #22AA78;
                    margin-bottom: 0px;
                }
            }
            &:hover{
                box-shadow: 0px 4px 50px 10px #00000040;
            }
        }   

        @include mini-desktop{
            flex: 0 0 33.3%;max-width: 33.3%;
            padding: 0 10px;margin: 10px 0px;
            .pressBox{
                padding: 15px;
                .title{
                    flex-direction: column;align-items: flex-start;
                    text-align: left;
                    h2{margin-bottom: 5px;font-size: 20px;line-height: 22px;}
                    p{
                        display: flex;flex-direction: row-reverse;
                        justify-content: space-between;width: 100%;
                        font-size: 22px;line-height: 22px;
                        span{display: inline-block;}
                    }
                }
            }
        }

        @include phone{
            flex: 0 0 50%;max-width: 50%;
            
        }

        @include phone450{
            flex: 0 0 100%;max-width: 100%;
        }
    }


    &.annoucementList{
        li{
            .pressBox{
                background: transparent;box-shadow: 0px 4px 20px 0px #00000040;
                position: relative;
                &.date{
                    background: #22AA78;
                    position: absolute;left: 10px;top: 10px;
                }
            }
        }
    }
}

.filterButtons {
  margin-bottom: 30px;background: #D2C5B3;
    display: inline-flex;justify-content: center;align-items: center;border-radius:50px;padding: 5px;
    flex-wrap: wrap;

  button {
    font-weight: 500;font-size: 20px;line-height: 20px;color: #6C6458;
    padding: 10px 50px;border-radius:50px;

    &.active{background: #00183D;color: #fff;}

    @include phone{
        padding: 10px 30px;
    }
    @include phone450{
        padding: 10px 20px;
    }
  }
}
